<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pulian.mall.persist.mapper.UserInfoMapper">


  <resultMap id="BaseResultMap" type="com.pulian.mall.dto.UserInfoDto" >
  
    <id column="user_id" property="userId" jdbcType="INTEGER" />   
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="account" property="userAccount" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="user_area" property="userArea" jdbcType="VARCHAR" />
    <result column="address" property="userAddress" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="we_chat_no" property="weChatNo" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="settlement_bank" property="settlementBank" jdbcType="VARCHAR" />
    <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR" />   
    <result column="bank_no" property="bankNo" jdbcType="VARCHAR" />
    <result column="bank_serial_no" property="bankSerialNo" jdbcType="VARCHAR" />
    <result column="vip_level" property="vipLevel" jdbcType="VARCHAR" />
    <result column="frozen_status" property="frozenStatus" jdbcType="VARCHAR" />
    <result column="active_status" property="activeStatus" jdbcType="VARCHAR" /> 
    <result column="user_disable" property="userDisable" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />  
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  
  <sql id="queryColumns"> 
  	user_id, user_name, phone, user_code, account, pass_word, user_area, address, card_type,card_no, we_chat_no, user_email,
  	settlement_bank, bank_branch_name, bank_no, bank_serial_no, vip_level, frozen_status,active_status,user_disable,
  	parent_id, creater_id, updater_id, create_time, update_time
  </sql>
  
  
  
  <sql id="insertColumns">
  	 user_name, phone, user_code, account, pass_word, user_area, address, card_type,card_no, we_chat_no, user_email,
  	settlement_bank, bank_branch_name, bank_no, bank_serial_no, vip_level, frozen_status,active_status,user_disable,
  	parent_id, creater_id, updater_id, create_time, update_time
  </sql>
  
  <insert id="saveUserInfo"  parameterType="com.pulian.mall.dto.UserInfoDto" >
		insert into t_user
		(<include refid="insertColumns" />
		)
		values
		(
		#{condition.userName,jdbcType=VARCHAR},
		#{condition.userPhone,jdbcType=VARCHAR},
		#{condition.userCode,jdbcType=VARCHAR},
		#{condition.userAccount,jdbcType=VARCHAR},
		#{condition.passWord,jdbcType=VARCHAR},
		#{condition.userArea,jdbcType=VARCHAR},
		#{condition.userAddress,jdbcType=VARCHAR},
		#{condition.cardType,jdbcType=VARCHAR},
		#{condition.cardNo,jdbcType=VARCHAR},
		#{condition.weChatNo,jdbcType=VARCHAR},
		#{condition.userEmail,jdbcType=VARCHAR},
		#{condition.settlementBank,jdbcType=VARCHAR},
		#{condition.bankBranchName,jdbcType=VARCHAR},
		#{condition.bankNo,jdbcType=VARCHAR},
		#{condition.bankSerialNo,jdbcType=VARCHAR},
		#{condition.vipLevel,jdbcType=VARCHAR},
		#{condition.frozenStatus,jdbcType=VARCHAR},
		#{condition.activeStatus,jdbcType=VARCHAR},
		#{condition.userDisable,jdbcType=VARCHAR},
		#{condition.parentId,jdbcType=INTEGER},
		#{condition.createrId,jdbcType=INTEGER},
		#{condition.updaterId,jdbcType=INTEGER},
		#{condition.createTime,jdbcType=TIMESTAMP},
		#{condition.updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	
	
	<select id="count" resultType="java.lang.Integer">
       select count(*) from (   
      select 
	     <include refid="queryColumns" />
	     from t_user t
	     <where>
			<if test="condition != null">
				<include refid="conditions"></include>	
			</if>
		 </where>)t1	
	</select>
	
	
	<select id="queryUserInfo" resultMap="BaseResultMap">
	     select
	     <include refid="queryColumns" />
	     from t_user t
	     <where>
			<if test="condition != null">
				<include refid="conditions"></include>	
			</if>
		 </where>	
	           ORDER BY t.create_time desc
     <include refid="MYSQL.pagination" />
   </select>
   
   
   
	<sql id="conditions">
		<if test="condition.userId != null and condition.userId != ''">
			AND t.user_id = #{condition.userId,jdbcType=INTEGER}
		</if>
		<if test="condition.parentId != null and condition.parentId != ''">
			AND t.parent_id = #{condition.parentId,jdbcType=INTEGER}
		</if>
		<if test="condition.userName != null and condition.userName != ''">
			AND t.user_name = #{condition.userName,jdbcType=VARCHAR}
		</if>
		<if test="condition.userAccount != null  and condition.userAccount != ''">
			AND t.account = #{condition.userAccount,jdbcType=VARCHAR}
		</if>
		<if test="condition.passWord != null  and condition.passWord!= ''">
			AND t.pass_word = #{condition.passWord,jdbcType=DECIMAL}
		</if>
		<if test="condition.userCode != null  and condition.userCode != ''">
			AND t.user_code = #{condition.userCode,jdbcType=DECIMAL}
		</if>
		<if test="condition.vipLevel != null ">
			AND t.vip_level like CONCAT('%',#{condition.vipLevel,jdbcType=VARCHAR},'%')	
		</if>
		<if test="condition.frozenStatus != null ">
			AND t.frozen_status = #{condition.frozenStatus,jdbcType=VARCHAR}
		</if>
		<if test="condition.activeStatus != null ">
			AND t.active_status = #{condition.activeStatus,jdbcType=VARCHAR}
		</if>
		<if test="condition.userDisable != null ">
			AND t.user_disable = #{condition.userDisable,jdbcType=VARCHAR}
		</if>
	</sql>
	
	
	<!--  --> 
	<update id="updateUserByUserId">
		update t_user 
		<set>
			<if test="condition.userPhone != null and condition.userPhone != '' ">
				phone = #{condition.userPhone},
			</if>
			<if test="condition.passWord != null and condition.passWord != '' ">
				pass_word = #{condition.passWord},
			</if>
			update_time = #{condition.updateTime,jdbcType=VARCHAR},
			update_id = #{condition.updateId,jdbcType=VARCHAR}
		</set>
		where user_id = #{condition.userId}
   </update>
</mapper>